.wrapper {
  padding: 36px 64px 26px 24px;
  color: var(--fc-main);
  border: 2px solid var(--border-color);
  border-radius: var(--base-radius);
  background-color: var(--bg-secondary);

  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 108px min-content;
  gap: 0 24px;

  position: relative;
  &:hover {
    cursor: pointer;
    border: 2px solid var(--accent2);
    background-color: var(--accent2-50);
  }
  &:focus-visible {
    border: 2px solid var(--accent2);
    background-color: var(--accent2-50);
  }
  &:focus {
    outline: none;
  }
}

.date,
.text,
.price_discount,
.price {
  margin: 0;
  padding: 0;
}

.date {
  grid-row: 1/2;
  grid-column: 1/2;

  font-family: var(--ff-secondary);
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--fc-secondary);
}

.text {
  grid-row: 2/3;
  grid-column: 1/2;

  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;

  text-wrap: pretty;
}

.price_discount {
  margin-top: 4px;
  font-size: 44px;
  line-height: 40px;
  letter-spacing: -2px;
  font-weight: bold;
}

.price {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--fc-light);
  text-align: right;
  text-decoration: line-through;
}

.hidden {
  display: none;
}

/* @media (min-width: 430px) {} */

@media (min-width: 880px) {
  .wrapper {
    padding: 44px 16px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    /* gap: 4px; */
  }

  .date {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 30px;
    order: 1;
    align-self: flex-start;
  }

  .price_discount {
    order: 2;
    font-size: 50px;
    line-height: 55px;
  }

  .price_wrapper {
    margin-bottom: 18px;
    height: 26px;
    order: 3;
    align-self: flex-end;
  }

  .price {
    font-size: 24px;
    line-height: 26.4px;
  }

  .text {
    order: 4;
    font-size: 16px;
    line-height: 20.8px;
  }
}

 @media (min-width: 1100px) {
  .wrapper {
    padding: 44px 26px;
  }
 }