.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px;
}

.title {
  margin: 80px 0 0;
  padding: 0;
  font-family: var(--ff-title);
  line-height: 26.4px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.banner > img {
  display: block;
  margin: 20px auto 0;
}

.card_list {
  margin: 8px 0 8px;
  padding: 0;
  list-style-type: none;
}

.card_item + .card_item {
  margin-top: 4px;
}

.text_hint {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
}

.policy {
  margin: 34px 0 22px;
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  align-items: center;
  line-height: 17.6px;
}

.policy_label {
  color: var(--fc-medium);
}
.policy_label > a {
  color: var(--link-color);
  text-decoration: none;
}

.policy_input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-secondary);
  margin: 0;
  font: inherit;
  color: var(--fc-medium);
  width: 24px;
  height: 24px;
  border: 1px solid var(--fc-medium);
  border-radius: 4.8px;
  flex-shrink: 0;

  display: grid;
  place-content: center;
}

.policy_input::before {
  display: none;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 4.8px;
  background-color: var(--accent2);
}

.policy_input:checked::before {
  display: block;
  background-image: url('checked.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.button_buy {
  margin: 0 0;
  width: 100%;
  padding: 28px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--ff-title);
  background-color: var(--accent);
  border: none;
  border-radius: var(--max-radius);
  color: var(--bg-secondary);
  text-transform: uppercase;

  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  -ms-animation: blink 1s linear infinite;
  -o-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 15px var(--accent);
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 15px var(--accent);
  }
}

.policy_warning {
  display: none;
}
