.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px;
}

.title {
  margin: 80px 0 0;
  padding: 0;
  font-family: var(--ff-title);
  line-height: 26.4px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.banner > img {
  display: block;
  margin: 20px auto 0;
}

.card_list {
  margin: 8px 0 8px;
  padding: 0;
  list-style-type: none;
}

.card_item + .card_item {
  margin-top: 4px;
}

.text_hint {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
}

.policy {
  margin: 34px 0 24px;
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  align-items: center;
  line-height: 17.6px;
}

.policy_label {
  color: var(--fc-medium);
  &:hover {
    cursor: pointer;
  }
}
.policy_label > a {
  color: var(--link-color);
  text-decoration: none;
}

.policy_input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-secondary);
  margin: 0;
  font: inherit;
  color: var(--fc-medium);
  width: 24px;
  height: 24px;
  border: 1px solid var(--fc-medium);
  border-radius: 4.8px;
  flex-shrink: 0;

  display: grid;
  place-content: center;

  &:hover {
    cursor: pointer;
  }
}

.policy_input::before {
  display: none;
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 4.8px;
  background-color: var(--accent2);
}

.policy_input:checked::before {
  display: block;
  background-image: url('checked.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.policy_warning {
  display: none;
}

/* @media (min-width: 430px) {
  .card_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
} */

@media (min-width: 880px) {
  .wrapper {
    max-width: 1100px;
  }
  .title {
    margin-bottom: 68px;
    text-align: center;
    font-size: 40px;
    line-height: 44px;
  }
  .policy_warning {
    display: block;
    font-size: 14px;
    color: var(--fc-medium);
  }

  .inner_wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* flex-flow: row wrap;
    justify-content: center; */
  }

  .card_list {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 12px;
  }

  .card_item:last-of-type {
    grid-column: span 3;
  }

  .card_item + .card_item {
    margin-top: 0;
  }
}
