.card_link {
  text-decoration: none;
  color: var(--fc-main);
  &:hover .wrapper {
    border: 2px solid var(--accent2);
    background-color: var(--accent2-50);
  }
  &:focus-visible .wrapper {
    border: 2px solid var(--accent2);
    background-color: var(--accent2-50);
  }
  &:focus {
    outline: none;
  }
}

.wrapper {
  padding: 36px 86px 36px 24px;
  border: 2px solid var(--border-color);
  border-radius: var(--base-radius);
  background-color: var(--bg-secondary);

  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: minmax(100px, min-content) auto;
  gap: 1px 24px;

  position: relative;
}

.date,
.text,
.price_discount,
.price {
  margin: 0;
  padding: 0;
}

.date {
  grid-row: 1/2;
  grid-column: 1/2;

  font-family: var(--ff-secondary);
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--fc-secondary);
}

.text {
  grid-row: 2/3;
  grid-column: 1/2;

  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
}

.price_discount {
  font-size: 44px;
  line-height: 48px;
  font-weight: bold;
  text-align: right;
}

.price {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--fc-light);
  text-align: right;
  text-decoration: line-through;
}

.sale {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('Star.svg');
  background-repeat: no-repeat;
  background-position: center center;
  right: 9px;
  top: 4px;
  color: var(--bg-secondary);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  padding: 16px 0;
}
