.background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-modal-50);
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 750px;
  min-width: 335px;
  /* margin: 0 20px; */
  width: 100%;
  /* height: 100%; */
  background: var(--bg-main);
  z-index: 10;
  font-size: 15px;
  line-height: 19.5px;
  font-weight: 500;
}

.label {
  padding: 4px 10px 6px;
  max-width: 170px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 2%;
  color: var(--bg-secondary);
  background-color: var(--accent2);
  position: absolute;
}

.button_close {
  display: block;
  margin: 10px;
  margin-left: auto;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url('close.svg');
}

.header {
  margin: 20px 0 22px;
  font-size: 24px;
  line-height: 31.2px;
  font-family: var(--ff-title);
  font-weight: bold;
  text-transform: uppercase;
}

.accent {
  color: var(--accent2);
}

.text {
  margin: 0;
  padding: 0;
}

.bordered_p {
  margin: 8px 0 26px;
  padding: 12px 22px 14px;
  border: 2px solid var(--accent2);
  border-radius: var(--md-radius);
  text-align: center;
}

/* .modalHeader {
  height: 50px;
  overflow: hidden;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
} */

/* .modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
} */

/* .actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* .closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
} */

/* .deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
} */

/* .cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
} */

/* .primaryBtn {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #185adb;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
} */
