.header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 6px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-weight: 500;
  gap: 10.5px;
  align-items: center;
  z-index: 1;
}

.text {
  margin: 0;
  padding: 0;
}

.timer_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.timer_unit_wrapper {
  text-align: center;
  margin: 5px 12px;
}

.timer_time,
.timer_separator {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  color: var(--accent2);
  font-family: var(--ff-secondary);
  line-height: 41.2px;
  font-variant-numeric: tabular-nums;
}

.timer_text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18.2px;
  color: var(--fc-medium);
}

.timer_expiring {
  color: var(--accent);
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.timer_ended {
  color: var(--accent);
}

@media (min-width: 720px) {
  .header {
    margin: 0;
    padding-top: 3px;
    font-weight: bold;
  }

  .text {
    font-size: 30px;
    line-height: 39px;
  }

  .timer_unit_wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .timer_time {
    font-size: 60px;
    line-height: 60px;
  }

  .timer_separator {
    font-size: 40px;
    line-height: 48px;
  }

  .timer_text {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
  }
}
