.header {
  margin: 0;
  padding: 6px 0;
  background-color: var(--bg-secondary);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-weight: 500;
  gap: 10.5px;
  align-items: center;
}

.text {
  margin: 0;
  padding: 0;
}

.timer_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.timer_unit_wrapper {
  text-align: center;
  margin: 5px 12px;
}

.timer_time,
.timer_separator {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: normal;
  color: var(--accent2);
  font-family: var(--ff-secondary);
  line-height: 41.2px;
}

.timer_text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18.2px;
  color: var(--fc-medium);
}

/* .timer_expiring {
  color: var(--accent);
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.timer_ended {
  color: var(--accent);
}
