.sale {
  background-image: url('Star.svg');
  background-repeat: no-repeat;
  background-position: center center;
  font-weight: 500;
  text-align: center;
}

.mini {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  background-size: 38px;
  color: var(--bg-secondary);
  font-size: 12px;
  line-height: 12px;
  padding: 14px 0;

  justify-self: start;
}

.regular {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 7px;
  top: 4px;
  color: var(--bg-secondary);
  font-size: 14px;
  line-height: 16px;
  padding: 16px 0;
}

.hidden {
  display: none;
}

@media (min-width: 430px) {
  .regular {
    padding: 20px 0;
    width: 60px;
    height: 60px;

    font-size: 16px;
    line-height: 22.2px;
    background-size: 62px;
  }
}

@media (min-width: 1100px) {
  .regular {
    padding: 24px 0;
    top: -34px;
    width: 70px;
    height: 70px;

    font-size: 18px;
    line-height: 24.2px;
    background-size: 66px;
  }
}

@media (min-width: 435px) {
  .mini {
    width: 50px;
    height: 50px;
    background-size: 46px;
    font-size: 14px;
    line-height: 18px;
    padding: 16px 0;
  }
}
