@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueRegular.eot');
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
    url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueRegular.woff') format('woff'),
    url('fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueBold.eot');
  src: local('Bebas Neue Bold'), local('BebasNeueBold'),
    url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueBold.woff') format('woff'),
    url('fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueLight.eot');
  src: local('Bebas Neue Light'), local('BebasNeueLight'),
    url('fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueLight.woff') format('woff'),
    url('fonts/BebasNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Regular.eot');
  src: local('Rubik'), local('Rubik-Regular'),
    url('fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Rubik-Regular.woff') format('woff'),
    url('fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Bold.eot');
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Rubik-Bold.woff') format('woff'),
    url('fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Medium.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
    url('fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Rubik-Medium.woff') format('woff'),
    url('fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --ff-main: 'PT Root UI', sans-serif;
  --ff-secondary: 'Bebas Neue', sans-serif;
  --ff-title: 'Rubik', sans-serif;

  --bg-main: #f5f7f7;
  --bg-secondary: #ffffff;
  --bg-modal-40: #2d324240;

  --fc-main: #2d3242;
  --fc-secondary: #687078;
  --fc-light: #95979f;
  --fc-medium: #818798;
  --link-color: #2d97f9;

  --border-color: #d3d6dd;

  --accent: #fd4d35;
  --accent2: #01b9c5;
  --accent2-50: #01b9c505;

  --max-radius: 60px;
  --md-radius: 30px;
  --base-radius: 20px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--fc-main);
  font-size: 16px;
  font-family: var(--ff-main);
}

button:hover {
  cursor: pointer;
}

.sr_only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
