:root {
  --ff-main: 'PT Sans', sans-serif;
  --ff-secondary: 'Bebas Neue', sans-serif;
  --ff-title: 'Rubik', sans-serif;

  --bg-main: #f5f7f7;
  --bg-secondary: #ffffff;

  --fc-main: #2d3242;
  --fc-secondary: #687078;
  --fc-light: #95979f;
  --fc-policy: #818798;
  --link-color: #2d97f9;

  --border-color: #d3d6dd;

  --accent: #fd4d35;
  --accent2: #01b9c5;
  --accent2-50: #01b9c505;

  --max-radius: 60px;
  --base-radius: 20px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--fc-main);
  font-size: 16px;
  font-family: var(--ff-main);
}
